/***** Theme color palette *****/
$light-green: #9bbd99;
$dark-green: #667c4b;
$beige: #e3cfb6;
$brown: #ac8065;
$off-white: #e9e6e0;
$off-black: #2a221e;
/***** End Theme color palette *****/

/***** Gradient background mixin *****/
@mixin gradient-background($-brightColor, $-darkColor) {
    background-size: 100% 100%;
    background-image: linear-gradient(
            -45deg,
            rgba($color: $off-white, $alpha: 1) 0%,
            rgba($color: $off-white, $alpha: 0.8) 25%,
            rgba($color: $off-white, $alpha: 0.8) 75%,
            rgba($color: $off-white, $alpha: 1) 100%
        ),
        linear-gradient(
            180deg,
            rgba($color: $off-white, $alpha: 0) 0%,
            rgba($color: $off-white, $alpha: 0) 75%,
            rgba($color: $off-white, $alpha: 1) 100%
        ),
        repeating-linear-gradient(
            45deg,
            rgba($color: $-brightColor, $alpha: 0.5) 96%,
            rgba($color: $-brightColor, $alpha: 0) 100%
        ),
        repeating-radial-gradient(
            75% 75% at -238% 218%,
            rgba($color: $-brightColor, $alpha: 0.5) 30%,
            rgba($color: $-darkColor, $alpha: 0.1) 39%
        ),
        radial-gradient(
            99% 99% at 109% 2%,
            rgba($color: $-brightColor, $alpha: 1) 0%,
            rgba($color: $-brightColor, $alpha: 0) 100%
        ),
        radial-gradient(
            99% 99% at 21% 78%,
            rgba($color: $-darkColor, $alpha: 1) 0%,
            rgba($color: $-darkColor, $alpha: 0) 100%
        ),
        radial-gradient(
            160% 154% at 711px -303px,
            rgba($color: $off-black, $alpha: 1) 0%,
            rgba($color: $off-black, $alpha: 1) 100%
        );
}
/***** End Gradient background mixin *****/
*,
*:is(::before, ::after) {
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    color: #{$off-black} !important;
}

body {
    position: relative;
    background-color: #{$off-white};
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        background-image: url(../images/background-valley.jpg);
        background-size: var(--w, auto) var(--h, auto);
        background-attachment: fixed;
        background-position-x: var(--x, 50%);
        background-position-y: var(--y, 50%);
        filter: sepia(40%) opacity(20%);
    }
}

nav {
    position: relative;
    background-color: #{$off-white};
    div.container {
        z-index: 1;
        min-height: 100px;
        @media screen and (max-width: 450px) {
            display: block !important;
            text-align: center;
            div.col-auto {
                margin: 10px 0px;
                padding: 0px 20px !important;
                ul {
                    padding: 0px !important;
                }
            }
        }
    }
}

main {
    position: relative;
    padding-bottom: 4rem;
}

fieldset {
    background: transparent !important;
}

button {
    box-shadow: 3px 2px 5px rgba($color: #000000, $alpha: 0.3);
}

.bars {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    @include gradient-background($beige, $brown);
}

a.navbar-brand {
    height: 100px;
    width: auto;
    content: url("../images/logo_full.svg");
    @media screen and (max-width: 800px) {
        height: 75px;
        margin-right: 0px !important;
    }
}

.header__buttons {
    gap: 0.5rem;
}

.header__button {
    width: 100%;
    background-color: #{$beige};
    border: 1px solid #{$brown};
    &:hover,
    &:focus {
        background-color: #{$light-green} !important;
        border: 1px solid #{$dark-green} !important;
    }
    color: #{$off-black};
    @media (width>577.98px) {
        width: fit-content;
    }
    &--account {
        padding: 0.375rem;
        width: fit-content;
    }
}

.logged-in-container {
    display: flex;
    gap: 0.5rem;
}

.logged-in-svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    fill: white;
    stroke: white;
}

.board__add-card-button {
    content: "";
    position: absolute;
    z-index: 3;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.25rem 0.5rem;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    background-color: #{$beige};
    border: 1px solid #{$brown};
    background-image: url("../images/plus.svg");
    background-position: 50% 50%;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    &:hover {
        background-color: #{$light-green} !important;
        border: 1px solid #{$dark-green} !important;
    }
    @media (min-width: 480px) {
        width: fit-content;
        background-image: none;
    }
}

.button-delete {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    border: 1px solid #{$brown};
    background-color: #{$beige};
    border-radius: 0.5rem;
    text-align: center;
    vertical-align: middle;
    transform: scale(0.7);
    box-shadow: none;
    &:hover {
        background-color: rgb(112, 44, 4) !important;
        border-color: white !important;
        color: white !important;
    }
    &.delete-board {
        top: -5px;
        right: -3px;
    }
    &.delete-status {
        top: -5px;
        right: -5px;
    }
    &.delete-card {
        top: -5px;
        right: -5px;
    }
}

.accordion-button {
    @include gradient-background($beige, $brown);
    border: 1px solid #{$brown};
    &:not(.collapsed) {
        @include gradient-background($light-green, $dark-green);
    }
    &::after {
        margin-right: 20px;
    }
}

.accordion-item {
    border: 1px solid #{$brown};
    background: rgba($color: $off-white, $alpha: 0.7);
    backdrop-filter: blur(5px) sepia(0.2);
}

.accordion-body {
    padding-bottom: 0px;
}

.board__body {
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
    padding: 0px 20px;
    margin: 0px -20px;
}

.board__card-container {
    width: 100%;
    min-height: 10rem;
    border-top: solid 1px black;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.board__status-column {
    position: relative;
    height: fit-content;
    margin-bottom: 8px;
    background-color: rgba($color: $off-black, $alpha: 0.025);
    border: 1px solid rgba($color: $brown, $alpha: 0.25);
    border-radius: 0.5rem;
}

.board__status-header {
    width: 100%;
    height: 2rem;
}

.card-body {
    height: 7rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: rgba($color: $off-black, $alpha: 0.05);
}

%input-title {
    width: 100%;
    padding: 0px;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.board__title-input {
    @extend %input-title;
    font-size: 1.5rem;
    font-weight: 600;
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    background: transparent;
    width: fit-content;
}

.board__card-title {
    @extend %input-title;
    width: 80% !important;
    font-size: 1rem;
    font-weight: 500;
    background: transparent;
}

.board__status-input {
    @extend %input-title;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    background: transparent;

    &--new {
        background-image: linear-gradient(#00009911, #00009911);
        background-size: 100% 100%;
        border-radius: 0.5rem;
        color: #00000099;
        &:focus {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.board__card-text {
    width: 100%;
    font-size: 0.7rem;
    height: 65%;
    outline: none;
    border: none;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    background: transparent;
    padding: 1px;
}

.message-box {
    transition-property: top;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 200px;
    height: 100px;
    top: -125px;
    right: 20px;
    background-color: lightgrey;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    z-index: 9999;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
    &--shown {
        top: 20px;
    }
    &--success {
        background-color: lightgreen;
        color: darkgreen;
    }
    &--error {
        background-color: lightpink;
        color: darkred;
    }
}

.status-draggable,
.card-draggable {
    cursor: move;
}

.card-dragging,
.status-dragging {
    border: 2px dashed black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    transform: rotate(3deg);
    opacity: 0.5;
    transition: opacity 100ms;
}

.fader {
    position: fixed;
    overflow: hidden;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0px;
    // padding-top: 100px;
    left: 0px;
    background-image: linear-gradient(
        to bottom,
        #{$off-white} var(--faderOffset),
        transparent calc(var(--faderOffset) + 75px)
    );
}
