/***** Theme color palette *****/
$light-green: #9bbd99;
$dark-green: #667c4b;
$beige: #e3cfb6;
$brown: #ac8065;
$off-white: #e9e6e0;
$off-black: #2a221e;
/***** End Theme color palette *****/

*,
*:is(::before, ::after) {
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    color: #{$off-black} !important;
}

body {
    position: relative;
    background-color: #{$off-white};
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        background-image: url(../images/background-valley.jpg);
        background-size: var(--w, auto) var(--h, auto);
        background-attachment: fixed;
        background-position-x: var(--x, 50%);
        background-position-y: var(--y, 50%);
        filter: sepia(40%) opacity(20%);
    }
}

nav {
    background-color: #{$off-white};
    div.container {
        min-height: 100px;
        @media screen and (max-width: 450px) {
            display: block !important;
            text-align: center;
            div.col-auto {
                margin: 10px 0px;
                padding: 0px 20px !important;
                ul {
                    padding: 0px !important;
                }
            }
        }
    }
}

a.navbar-brand {
    height: 100px;
    width: auto;
    content: url("../images/logo_full.svg");
    @media screen and (max-width: 800px) {
        height: 75px;
        margin-right: 0px !important;
    }
}

main {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.header__buttons {
    gap: 0.5rem;
}

.header__button {
    width: 100%;
    background-color: #{$beige};
    @media (width>577.98px) {
        width: fit-content;
    }
    &--account {
        padding: 0.375rem;
        width: fit-content;
    }
    &:hover,
    &:focus {
        background-color: #{$light-green} !important;
    }
}

.logged-in-container {
    display: flex;
    gap: 0.5rem;
}

.logged-in-svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    fill: white;
    stroke: white;
}

.board__add-card-button {
    padding: 0.25rem 0.5rem;
    position: absolute;
    right: 2.7rem;
    top: 0.875rem;
    width: 2rem;
    height: 2rem;
    z-index: 4;
    color: #ffffff00;
    overflow: hidden;
    background-image: url("../images/plus.svg");
    background-position: 50% 50%;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    @media (min-width: 480px) {
        right: 8.5rem;
        width: fit-content;
        background-image: none;
        color: white;
    }
}

.board__body {
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px;
}

.board__card-container {
    width: 100%;
    height: fit-content;
    min-height: 10rem;
    border-top: solid 1px black;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.board__status-column {
    position: relative;
    height: fit-content;
}

.board__status-header {
    width: 100%;
    height: 4rem;
}

.card-body {
    height: 10rem;
}

%input-title {
    width: 100%;
    padding: 0px;
    outline: none;
    border: none;
    font-weight: 600;
    box-sizing: border-box;

    &:active,
    &:focus {
        border-bottom: solid 1px black;
    }
}

.board__title-input {
    @extend %input-title;
    background: transparent;
    width: 75%;
    // &:active,
    // &:focus {
    //     border-bottom: none;
    // }
}

.board__card-title {
    @extend %input-title;
}

.board__status-input {
    @extend %input-title;
    text-align: center;

    &--new {
        background-image: linear-gradient(#00009911, #00009911);
        background-size: 100% 100%;
        border-radius: 0.5rem;
        color: #00000099;
        &:focus {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

.board__card-text {
    padding: 0;
    width: 100%;
    height: 6rem;
    outline: none;
    border: none;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;

    &:active,
    &:focus {
        outline: solid 1px black;
        padding: 1px;
    }
}

.message-box {
    transition-property: top;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 200px;
    height: 100px;
    top: -125px;
    right: 20px;
    background-color: lightgrey;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    z-index: 9999;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
    &--shown {
        top: 20px;
    }
    &--success {
        background-color: lightgreen;
        color: darkgreen;
    }
    &--error {
        background-color: lightpink;
        color: darkred;
    }
}

.button-delete {
    border: 2px solid maroon;
    border-radius: 0.5rem;
    color: maroon;
    transition: all 0.5s;
    position: absolute;
    right: 0.1rem;
    top: 0.1rem;
    transform: scale(0.5);
    z-index: 10;
    &:hover {
        border-color: red;
        color: red;
    }
}

.status-draggable,
.card-draggable {
    cursor: move;
}

.card-dragging,
.status-dragging {
    border: 2px dashed black;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    transform: rotate(3deg);
    opacity: 0.5;
    transition: opacity 100ms;
}
