:root {
  /* set root styles like font, page background, etc */
}

*,
*:is(::before, ::after) {
  box-sizing: border-box;
}

#boards {
  background-color: green;
}

.header__buttons {
  gap: 0.5rem;
}

.header__button {
  width: 100%;
  @media (width>577.98px) {
    width: fit-content;
  }
}

.board__add-card-button {
  padding: 0.25rem 0.5rem;
  position: absolute;
  left: 6.875rem;
  top: 0.875rem;
  width: 2rem;
  height: 2rem;
  z-index: 4;
  color: #ffffff00;
  overflow: hidden;
  background-image: url('../images/plus.svg');
  background-position: 50% 50%;
  background-size: 60% 60%;
  background-repeat: no-repeat;
  @media (min-width: 480px) {
    left: 8.5rem;
    width: fit-content;
    background-image: none;
    color: white;
  }
}

.board__body {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.board__card-container {
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.board__status-header {
  width: 100%;
  height: 4rem;
}

.board__card-container {
  width: 100%;
  height: fit-content;
  border-top: solid 1px black;
}

.card-body {
  height: 10rem;
}

%input-title {
  width: 100%;
  padding: 0px;
  outline: none;
  border: none;
  font-weight: 600;
  box-sizing: border-box;

  &:active, &:focus {
    border-bottom: solid 1px black;
  }
}

.board__card-title {
  @extend %input-title;
}

.board__status-input {
  @extend %input-title;
  text-align: center;

  &--new {
    background-image: linear-gradient(#00009911, #00009911);
    background-size: 100% 100%;
    border-radius: 0.5rem;
    color: #00000099;
    &:focus{
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  }
}

.board__card-text {
  padding: 0;
  width: 100%;
  height: 6rem;
  outline: none;
  border: none;
  overflow: hidden;
  overflow-wrap: break-word;
  resize: none;

  &:active, &:focus {
    outline: solid 1px black;
    padding: 1px;
  }
}

.message-box{
  transition-property: top;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 200px;
  height: 100px;
  top: -125px;
  right: 20px;
  background-color: lightgrey;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  z-index: 9999;
  border-radius: 20px;
  &--shown{
    top: 20px;
  }
  &--success{
    background-color: lightgreen;
    color:darkgreen;
  }
  &--error{
    background-color: lightpink;
    color: darkred;
  }
}
