<main class="accordion container" id="boardsAccordion">
    <div class="accordion-item position-relative board">
        <button class="btn btn-secondary board__add-card-button">
            + Add card
        </button>
        <h2 class="accordion-header" id="headingOne">
            <div
                class="accordion-button align-items-baseline collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
            >
                <h3 class="m-0 me-3 fs-4">Board 1</h3>
            </div>
        </h2>
        <div
            id="collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionBoards"
        >
            <div class="accordion-body">
                <div class="row board__body">
                    <div
                        class="col-12 col-sm-6 col-md-4 col-lg-3 board__status-column flex-column"
                    >
                        <h4
                            class="board__status-header mb-0 d-flex align-items-center justify-content-center"
                        >
                            <input
                                class="board__status-input"
                                value="Status title"
                            />
                        </h4>
                        <div
                            class="board__card-container container d-flex flex-column"
                        >
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <input
                                            type="text"
                                            value="Card title"
                                            class="board__card-title"
                                        />
                                    </h5>
                                    <textarea
                                        class="card-text board__card-text"
                                    >
Some quick example text to build on the card title and make up the bulk of the card's content.</textarea
                                    >
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <input
                                            type="text"
                                            value="Card title"
                                            class="board__card-title"
                                        />
                                    </h5>
                                    <textarea
                                        class="card-text board__card-text"
                                    >
Some quick example text to build on the card title and make up the bulk of the card's content.</textarea
                                    >
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <input
                                            type="text"
                                            value="Card title"
                                            class="board__card-title"
                                        />
                                    </h5>
                                    <textarea
                                        class="card-text board__card-text"
                                    >
Some quick example text to build on the card title and make up the bulk of the card's content.</textarea
                                    >
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="col-12 col-sm-6 col-md-4 col-lg-3 board__status-column flex-column"
                    >
                        <h4
                            class="board__status-header mb-0 d-flex align-items-center justify-content-center"
                        >
                            <input
                                class="board__status-input"
                                value="Status title"
                            />
                        </h4>
                        <div
                            class="board__card-container container d-flex flex-column"
                        >
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <input
                                            type="text"
                                            value="Card title"
                                            class="board__card-title"
                                        />
                                    </h5>
                                    <textarea
                                        class="card-text board__card-text"
                                    >
Some quick example text to build on the card title and make up the bulk of the card's content.</textarea
                                    >
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <input
                                            type="text"
                                            value="Card title"
                                            class="board__card-title"
                                        />
                                    </h5>
                                    <textarea
                                        class="card-text board__card-text"
                                    >
Some quick example text to build on the card title and make up the bulk of the card's content.</textarea
                                    >
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <input
                                            type="text"
                                            value="Card title"
                                            class="board__card-title"
                                        />
                                    </h5>
                                    <textarea
                                        class="card-text board__card-text"
                                    >
Some quick example text to build on the card title and make up the bulk of the card's content.</textarea
                                    >
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="col-12 col-sm-6 col-md-4 col-lg-3 board__status-column flex-column"
                    >
                        <h4
                            class="board__status-header mb-0 d-flex align-items-center justify-content-center"
                        >
                            <input
                                class="board__status-input"
                                value="Status title"
                            />
                        </h4>
                        <div
                            class="board__card-container container d-flex flex-column"
                        >
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <input
                                            type="text"
                                            value="Card title"
                                            class="board__card-title"
                                        />
                                    </h5>
                                    <textarea
                                        class="card-text board__card-text"
                                    >
Some quick example text to build on the card title and make up the bulk of the card's content.</textarea
                                    >
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <input
                                            type="text"
                                            value="Card title"
                                            class="board__card-title"
                                        />
                                    </h5>
                                    <textarea
                                        class="card-text board__card-text"
                                    >
Some quick example text to build on the card title and make up the bulk of the card's content.</textarea
                                    >
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <input
                                            type="text"
                                            value="Card title"
                                            class="board__card-title"
                                        />
                                    </h5>
                                    <textarea
                                        class="card-text board__card-text"
                                    >
Some quick example text to build on the card title and make up the bulk of the card's content.</textarea
                                    >
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="col-12 col-sm-6 col-md-4 col-lg-3 board__status-column flex-column"
                    >
                        <h4
                            class="board__status-header mb-0 d-flex align-items-center justify-content-center"
                        >
                            <input
                                class="board__status-input"
                                value="Status title"
                            />
                        </h4>
                        <div
                            class="board__card-container container d-flex flex-column"
                        >
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <input
                                            type="text"
                                            value="Card title"
                                            class="board__card-title"
                                        />
                                    </h5>
                                    <textarea
                                        class="card-text board__card-text"
                                    >
Some quick example text to build on the card title and make up the bulk of the card's content.</textarea
                                    >
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <input
                                            type="text"
                                            value="Card title"
                                            class="board__card-title"
                                        />
                                    </h5>
                                    <textarea
                                        class="card-text board__card-text"
                                    >
Some quick example text to build on the card title and make up the bulk of the card's content.</textarea
                                    >
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <input
                                            type="text"
                                            value="Card title"
                                            class="board__card-title"
                                        />
                                    </h5>
                                    <textarea
                                        class="card-text board__card-text"
                                    >
Some quick example text to build on the card title and make up the bulk of the card's content.</textarea
                                    >
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        class="col-12 col-sm-6 col-md-4 col-lg-3 board__status-column flex-column"
                    >
                        <h4
                            class="board__status-header mb-0 d-flex align-items-center justify-content-center"
                        >
                            <input
                                class="board__status-input"
                                value="Status title"
                            />
                        </h4>
                        <div
                            class="board__card-container container d-flex flex-column"
                        >
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <input
                                            type="text"
                                            value="Card title"
                                            class="board__card-title"
                                        />
                                    </h5>
                                    <textarea
                                        class="card-text board__card-text"
                                    >
Some quick example text to build on the card title and make up the bulk of the card's content.</textarea
                                    >
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <input
                                            type="text"
                                            value="Card title"
                                            class="board__card-title"
                                        />
                                    </h5>
                                    <textarea
                                        class="card-text board__card-text"
                                    >
Some quick example text to build on the card title and make up the bulk of the card's content.</textarea
                                    >
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <input
                                            type="text"
                                            value="Card title"
                                            class="board__card-title"
                                        />
                                    </h5>
                                    <textarea
                                        class="card-text board__card-text"
                                    >
Some quick example text to build on the card title and make up the bulk of the card's content.</textarea
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-12 col-sm-6 col-md-4 col-lg-3 board__status-column flex-column"
                    >
                        <h4
                            class="board__status-header mb-0 d-flex align-items-center justify-content-center"
                        >
                            <input
                                class="board__status-input board__status-input--new"
                                placeholder="New Column"
                            />
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
