<div class="modal fade" id="card-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <input type="text" value="Mockup title"
                           class="board__card-title">
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="new-board-form">
                <div class="modal-body">
                    <textarea class="board__card-text">Mockup text</textarea>
                </div>
            </form>
        </div>
    </div>
</div>
