<header>
    <nav class="navbar fixed-top py-0">
        <div class="container justify-content-between align-items-center">
            <div class="col-auto justify-content-start">
                <a class="navbar-brand" href="/"></a>
            </div>
            <div class="col-auto justify-content-end me-sm-3">
                <ul
                    class="d-flex flex-column flex-sm-row align-items-center m-0 header__buttons"
                >
                    <button
                        class="header__button btn"
                        data-bs-toggle="modal"
                        data-bs-target="#new-board-modal"
                    >
                        Add new Board
                    </button>
                    {% if not logged_in %}
                    <button
                        class="header__button btn"
                        data-bs-toggle="modal"
                        data-bs-target="#login-modal"
                    >
                        Log In
                    </button>
                    {% else %}
                    <div class="logged-in-container">
                        <a href="/logout">
                            <button class="header__button btn">Log out</button>
                        </a>
                        <button
                            class="header__button header__button--account btn"
                            data-username="{{ user['username'] }}"
                        >
                            <svg class="logged-in-svg">
                                <use
                                    class="logged-in-icon"
                                    href="{{ url_for('static', filename='images/sprite.svg') }}#icon-user-rounded"
                                />
                            </svg>
                        </button>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
