<div class="modal fade" id="login-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Log in</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="login-form">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="email" class="form-label">
                            E-mail address:
                        </label>
                        <input id="email" name="email" type="email" class="form-control" placeholder="" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">
                            Password:
                        </label>
                        <input id="email" type="password" name="password" minlength="8" class="form-control" required
                               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9])(?=.{8,}).*$"
                               oninvalid="this.setCustomValidity('Provide a password that is at least 8 characters long'+
                               ' and contains:'+
                                '\n\tat least 1 lowercase character;' +
                                 '\n\tat least 1 uppercase character;' +
                                  '\n\tat least 1 number;' +
                                   '\n\tat least 1 special character.')"
                               oninput="this.setCustomValidity('')"/>
                    </div>
                </div>
            </form>
            <div class="modal-footer container">
                <div class="row w-100">
                    <div class="order-sm-1 mb-3 mb-sm-0 col-10 col-sm-4 offset-1 offset-sm-2 text-center
                    d-flex justify-content-center align-items-end">
                        <input type="submit" class="fs-5 btn btn-primary w-75" form="login-form" value="Log In"/>
                    </div>
                    <div class="col-10 offset-1 col-sm-6 offset-sm-0 text-center">
                        <h6 class="fs-6">Don't have an account?</h6>
                        <button type="button" class="btn btn-secondary w-75">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
