{% extends 'two-buttons-footer-modal-base.html' %}
{% block modal_id %}registration-modal{% endblock %}
{% block modal_title %}Registration{% endblock %}
{% block modal_form_id %}registration-form{% endblock %}
{% block modal_body %}
    <div class="mb-3">
        <label for="first_name" class="form-label">
            First name:
        </label>
        <input id="first_name" type="text" name="first_name" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="last_name" class="form-label">
            Last name:
        </label>
        <input id="last_name" type="text" name="last_name" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">
            Username*:
        </label>
        <input id="username" type="text" name="username" minlength="3" class="form-control" required
               pattern="^[a-zA-Z0-9]*$"
               oninvalid="this.setCustomValidity('Provide an username that is at least 3 characters long'+
                               ' and contains only letters and numbers')"
               oninput="this.setCustomValidity('')"/>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">
            E-mail address*:
        </label>
        <input id="email" name="email" type="email" class="form-control" placeholder="" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">
            Password*:
        </label>
        <input id="password" type="password" name="password" minlength="8" class="form-control" required
               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9])(?=.{8,}).*$"
               oninvalid="this.setCustomValidity('Provide a password that is at least 8 characters long'+
                               ' and contains:'+
                                '\n\tat least 1 lowercase character;' +
                                 '\n\tat least 1 uppercase character;' +
                                  '\n\tat least 1 number;' +
                                   '\n\tat least 1 special character.')"
               oninput="this.setCustomValidity('')"/>
    </div>
    <p>
    * - required
    </p>
{% endblock %}
{% block modal_primary_button_text %}Register{% endblock %}
{% block modal_secondary_button_description %}Already have an account{% endblock %}
{% block modal_secondary_button_text %}Log in!{% endblock %}
{% block modal_switch_id %}login-modal{% endblock %}
